@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-roboto-mono);
}

.link-animation {
  @apply font-normal group-hover:font-extrabold transition-all;
}

.pen-animation {
  animation: none;
}

.group:hover .pen-animation {
  animation: wiggle 1s ease-in-out infinite, move 1s ease-in-out infinite,
    stepper 5s steps(1) infinite;
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

@keyframes move {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 30px;
  }
}

@keyframes stepper {
  0% {
    margin-top: 0px;
  }
  20% {
    margin-top: 12px;
    left: 12px;
  }
  40% {
    margin-top: 24px;
    left: 12px;
  }
  60% {
    margin-top: 36px;
    left: 12px;
  }
  80% {
    margin-top: 48px;
    left: 12px;
  }
  100% {
    margin-top: 48px;
    left: 12px;
  }
}
