@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-roboto-mono);
}

.link-animation {
  @apply group-hover:font-extrabold transition-all;
}

.google-gradient-bg {
  background: linear-gradient(
    to right,
    #ea4335 20%,
    #4285f4 40%,
    #fbbc04 60%,
    #34a853 90%
  );
}
.google-gradient-bg:hover {
  background: linear-gradient(
    to right,
    #ea4335 20%,
    #4285f4 40%,
    #fbbc04 60%,
    #34a853 90%
  );
  background-size: 200% 200%;
  animation: Gradiening 4s ease infinite;
}
.google-parent:hover .google-gradient-bg {
  background: linear-gradient(
    to right,
    #ea4335 20%,
    #4285f4 40%,
    #fbbc04 60%,
    #34a853 90%
  );
  background-size: 200% 200%;
  animation: Gradiening 4s ease infinite;
}

.pen-animation {
  animation: none;
}

.group:hover .pen-animation {
  animation: wiggle 1s ease-in-out infinite, move 1s ease-in-out infinite,
    stepper 5s steps(1) infinite;
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

@keyframes move {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 30px;
  }
}

@keyframes stepper {
  0% {
    margin-top: 0px;
  }
  20% {
    margin-top: 12px;
    left: 12px;
  }
  40% {
    margin-top: 24px;
    left: 12px;
  }
  60% {
    margin-top: 36px;
    left: 12px;
  }
  80% {
    margin-top: 48px;
    left: 12px;
  }
  100% {
    margin-top: 48px;
    left: 12px;
  }
}

@keyframes Gradiening {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
